<div class="main_page">
  <mat-sidenav-container class="example-container" *ngIf="shouldRun">
    <mat-sidenav #sidenav [mode]="mode.value" class="sideNav visible-xs hidden-lg hidden-md hidden-sm">
      <ul>
        <li>
          <a routerLink="/occasion" routerLinkActive="active">Occasion</a>
        </li>
        <li>
          <a routerLink="/category" routerLinkActive="active">Category</a>
        </li>
        <li>
          <a routerLink="/capacity" routerLinkActive="active">Capacity</a>
        </li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="col-xs-12 backColor pd-0 mobileHeaderHeight  visible-xs hidden-sm hidden-md hidden-lg">
        <div class="col-xs-1 pd-bar">
          <i class="fa fa-bars barCode1" (click)="sidenav.toggle()" aria-hidden="true"></i>
        </div>
        <div class="col-xs-6 pd-0 ">
          <a href="../"><span class="quitype_title">Quintype</span></a>
        </div>
        
        <div class="col-xs-5 serch_mobilee">
          
            <i class="fa fa-search cart_icon_font" aria-hidden="true"></i>
          
        </div>
        
      </div>
      <div class="main_header  main_bar_boxshdow visible-lg visible-md visible-sm hidden-xs">
        <div class="col-lg-12 col-sm-12 col-md-12 pad__1">
          <div class="col-md-10 col-sm-10 col-lg-10 padd_left">
            <i class="fa fa-bars barCode1" aria-hidden="true"></i>
            <span class="quitype_title">Quintype</span>
          </div>
          
          <div class="col-md-2 col-sm-2 col-lg-2 search_quintype"><i class="fa fa-search cart_icon_font" aria-hidden="true"></i></div>
        </div>
        
      </div>
      <router-outlet></router-outlet>




      <!-- <div class="col-lg-12 " > -->
      <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs footerBackground  ">
        <div class="col-lg-12 col-md-12 col-sm-12 pd-0">
          <div class="col-lg-6 col-md-6 col-sm-6 pd-0 pad_left">
            <img class="quintype_logoo" src="assets/674866-dbe0b50231dec08198180c2da1f49cd6-medium_jpg.jpg">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 pd-0 clr_fff pad_right">
            <div class="col-lg-12 col-md-12 col-sm-12 pd-0 text_right">
              <span class="about_us">About Us</span>
              <span class="privacy">Privacy Policy</span>
              <span class="term_condition">Terms & condition</span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 pd-0 text_right copyright">Copyrights 2016</div>
            <div class="col-lg-12 col-md-12 col-sm-12 pd-0 text_right powered_by">Powered by Quintype</div>
            
          </div>
        </div>
      </div>
      <!-- Mobile -->
      <div class="main_page-footer hidden-lg hidden-md hidden-sm col-xs-12 footerBackground">
        <div class="col-xs-12 pd-0">
          
          <div class="col-xs-12 pd-0 clr_fff pad_right">
            <div class="col-xs-12 pd-0 text_right">
              <span class="about_us">About Us</span>
              <span class="privacy">Privacy Policy</span>
              <span class="term_condition">Terms & condition</span>
            </div>
            <div class="col-xs-12 pd-0 text_right copyright">Copyrights 2016</div>
            <div class="col-xs-12 pd-0 text_right powered_by">Powered by Quintype</div>
            
          </div>
        </div>
      </div>
      <!-- </div> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
