/* You can add global styles to this file, and also import other style files */
@import '~swiper/dist/css/swiper.min.css';
.mat-tab-body-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    transition: height .5s cubic-bezier(.35,0,.25,1);
    color: #262626;
}
.mat-tab-label-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    z-index: 1;
    color: #262626;
}