.padd_0{
  padding: 0
}
.inner_home{
  padding: 1% 6%;
    background: #f5f5f5;
}
.image_home{
  width: 593px;
    height: 255px;
}
.content_fff{
  padding: 0;
    background: #fff;
}
.pad__2{
  padding: 2%;
}
.person_imgg{
      width: 30px;
    display: inline-block;
    position: relative;
    bottom: 13px;
}
.person_name{
  display: inline-block;
    /* padding-top: 3%; */
    font-size: 13px;
    color: #b0b0b0;
}
.font_title{
  font-size: 18px;
}
.title_bar{
  border-bottom: 2px solid yellow;
}
.title_dilog{
  font-size: 20px;
    padding: 1% 15px;
}
.para_grap{
  font-size: 13px;
    /* padding-right: 17%; */
    padding: 1% 17% 5% 15px;
    color: #9f9e9e;
}
.secnd_para{
      padding: 3% 0;
}
.business_img{
      width: 100%;
    height: 193px;
}
.business_titlw{
  padding: 4% 5% 0 5%;
    font-size: 14px;
    background: #fff;
}
.business_name{
      border-bottom: 2px solid #f26c60;
}
.business_dilog{
  padding: 6px 5%;
    font-size: 18px;
    background: #fff;
}
.business_paraa{
  font-size: 12px;
    padding: 2% 19% 2% 5%;
    background: #fff;
    color: #a0a0a0;
}
.business_person_name{
  padding: 1px 5% 5% 5%;
    background: #fff;
    color: #a0a0a0;
}
.trvl{
      border-bottom: 2px solid #60bcf2;
}
.trvll_titlw{
      padding: 2% 15px;
    font-size: 17px;
    font-weight: 600;
}
.trvl_name{
             margin: 0% 4%;
    color: #b7b6b6;
    border-bottom: 1px solid #ccc;
    width: 84%;
    padding: 2% 0;
}
.trvl_name_last{
             margin: 0% 4%;
    color: #b7b6b6;
    /*border-bottom: 1px solid #ccc;*/
    width: 84%;
    padding: 2% 0;
}
.trvrl_padd{
      padding: 4% 15px 0;
}
.trlv_health{
      border-bottom: 2px solid #f260a4;
}
.trlv_science{
      border-bottom: 2px solid #edd30d;
}
.publish{
      background: #fff;
    padding: 5%;
    text-align: center;
}
.publish_title{
  font-size: 24px;
}
.publish_sub{
  font-size: 10px;
    padding: 2% 0;
}
.publish_img{
          width: 40%;
}
.anchr{
  text-decoration: none
}
.subscribe_box{
  text-align: center;
    margin-top: 5%;
    background: blue;
}
.sub_imgg{
      width: 17%;
    /* margin: auto; */
    padding: 10px;
}
.ttiel_sub{
      color: #fff;
    font-size: 18px;
    padding: 2%;
}
.mail_serch{
      padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 2%;
    width: 94%;
}
.pa_4{
  padding: 4%;
}
.sub_buttn{
      border: 1px solid #fff;
    background: transparent;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    width: 45%;
    margin: auto;
}
.app-title {
  font-size: 24px;
}

.box-title {
  font-size: 20px;
      font-weight: 600;
    text-align: center;
    padding: 0 0 17px 0;
    color: #262626;
}

.box-container {
      box-sizing: border-box;
        width: 100%!important;
    height: 400px;
    max-width: 100%;
    max-height: 46%;
    padding: 24px;
    margin: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #555;
    background-color: transparent;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0);
    overflow: hidden;
}

.info-container {
  padding: 12px 16px;

  line-height: 24px;
}

.action-container,
.content-container {
  position: relative;

  overflow: hidden;
  height: 300px;
  min-height: 0;
  margin: 8px 16px;
  border-radius: 4px;

  background-color: #fff;
}

.action-container {
  padding: 16px;
}

.vertical-container,
.horizontal-container {
  min-height: 0 !important;
}

.action-button {
  box-sizing: border-box;
  width: calc(100% - 16px);
  min-height: 35px;
  padding: 4px 16px;
  margin: 8px;
  border: 1px solid #555;
  border-radius: 4px;

  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
}

.action-button:hover {
  color: #fff;
  background-color: #555;
}

.swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-slide {
  color: #aaa;
  background-color: #eee;

}

.swiper-slide-active {
  color: #fff;
  background-color: #aaa;
}
.price_color{
  color: #141414;
}
.sliderr_img{
      width: 100%;
    height: 300px;
}
.middle_section{
  position: absolute;
    top: 23%;
    text-align: center;
    color: #cfc8c8;
}
.must_read{
  font-size: 42px;
}
.must_send{
  font-size: 20px;
}
.readd_stry{
      padding: 10px 5%;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-top: 55px;
    color: #fff;
}
.fsrt_line{
  background-image: url('../../assets/rs_1024x759-180108174835-1024.donald-trump.ct.010818.jpg');
  background-size: 100% 100%;
      height: 471px;
}
.tag_line{
      position: absolute;
    bottom: 47px;
    color: #fff;
    font-size: 24px;
}
.tag_send{
      position: absolute;
    bottom: 11px;
    color: #fff;
    font-size: 12px;
}
.middle_imgg{
      width: 100%;
    height: 200px;
}
.tag_lineee{
  padding: 5% 5% 3% 5%;
    background: #fff;
    font-size: 20px;
}
.tagg_line{
      background: #fff;
    padding: 1% 5%;
    color: #a2a2a2;
}
.airtell{
      margin-top: 10px;
    padding: 5%;
    background: #fff;
}
.fn_size{
      font-size: 20px;
}
.fn_line{
      padding: 3% 0 0% 0;
    color: #a2a2a2;
}
.ploitics{
  font-size: 20px;
    padding: 2% 1%;
}
.plotics_border{
      border-bottom: 2px solid #6093f2;
}
.title_tag{
      padding: 0% 0px 2% 0;
    font-size: 18px;
}
.name_tag{
  font-size: 12px;
    padding-bottom: 3%;
    color: #a2a2a2;
}
.padd_2_3{
      padding: 2% 3%;
}
.full_widthhh{
  width: 100%;
      height: 147px;

}
.full_widthhh2{
  width: 100%;
      height: 172px;

}
.outer_diloog{
  background: #fff;
    padding: 3%;
}
.diloog_title{
  font-size: 18px;
    padding-bottom: 10%;
}
.dioolog_name{
  font-size: 12px;
    color: #a2a2a2;
}
.sider_img{
      width: 100%;
    height: 275px;
    margin-top: 2%;
}
.siderr_box{
      padding: 5% 3%;
    background: #fff;
}
.siderr_title{
  font-size: 20px;
    padding: 0 18% 0 0;
}
.siderr_para{
  font-size: 13px;
    padding: 4% 0;
    color: #a2a2a2;
}
.name_siderr{
  font-size: 11px;
    color: #a2a2a2;
}
.inner_recent{
      padding: 1% 7%;
}
.recetn_heading{
      padding: 1%;
    font-size: 20px;
}
.recent_barr{
      border-bottom: 2px solid #2f73e4;
}
.recente_img{
  /*position: relative;
    top: -46px;*/
    width: 200px;
    height: 180px;
}
.helth_fitness{
      display: inline-block;
    padding: 1% 2%;
}
.health_titlw{
  padding: 0% 0 1% 0;
    font-size: 15px;
}
.hjelath_bar{
      border-bottom: 2px solid #f260a4;
}
.health_lineee{
  font-size: 20px;
    padding: 1% 20% 4% 0;
}
.health_nameeme{
  font-size: 12px;
    color: #a2a2a2;
}
.pas_1{
  padding: 1%
}






@media (min-width: 320px) and (max-width: 480px){
  .inner_home {
    padding: 1% 0%;
    background: #f5f5f5;
}
.image_home {
    width: 100%;
    height: 255px;
}
.person_imgg {
    width: 30px;
    display: inline-block;
    position: relative;
    bottom: 7px;
}
.secnd_para {
    padding: 5% 6%;
}
.business_img {
    width: 100%;
    height: 193px;
    /* margin: auto; */
}
.padd-xs{
  padding: 0
}
.pad_77{
      padding: 7px 0;
}
.pad_xs_4{
  padding: 4% 1%;
}
.trvll_titlw {
    padding: 2% 0px;
    font-size: 17px;
    font-weight: 600;
}
.trvl_name {
    margin: 0% 0%;
    color: #b7b6b6;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 2% 0;
}
.trvl_name_last {
    margin: 0% 0%;
    color: #b7b6b6;
    width: 84%;
    padding: 2% 0;
}
.box-container {
    box-sizing: border-box;
    width: 100%!important;
    height: 294px;
    max-width: 100%;
    max-height: 46%;
    padding: 10px 24px;
    margin: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #555;
    background-color: transparent;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0), 0 0px 0px rgba(0, 0, 0, 0);
    overflow: hidden;
    overflow: hidden;
}
.action-container, .content-container {
    position: relative;
    overflow: hidden;
    height: 262px;
    min-height: 0;
    margin: 8px 16px;
    border-radius: 4px;
    background-color: #fff;
}
.middle_section {
    position: absolute;
    top: 15%;
    text-align: center;
    color: #cfc8c8;
}
.must_read {
    font-size: 29px;
}
.must_send {
    font-size: 16px;
}
.readd_stry {
    padding: 10px 5%;
    background: transparent;
    border: 1px solid #878787;
    border-radius: 20px;
    margin-top: 55px;
    color: #8b8888;
}
.ploitics {
    font-size: 20px;
    padding: 4% 4%;
}
.ploititv_xs{
  padding: 4% 0;
}
.title_tag {
    padding: 0% 0px 2% 5px;
    font-size: 17px;
    font-weight: 600;
}
.name_tag {
    font-size: 12px;
    padding-bottom: 3%;
    color: #a2a2a2;
    padding-left: 1%;
    padding-top: 1%;
}
.full_widthhh {
    width: 100%;
    height: 144px;
}
.diloog_title {
    font-size: 16px;
    padding-bottom: 10%;
}
.full_widthhh2 {
    width: 100%;
    height: 167px;
}
.food_subbb{
      padding: 3% 6%;

}
.receent_padd{
  padding: 4% 1%;
}
.recente_img {
    width: 100%;
    height: 155px;
}
.health_titlw {
    padding: 0% 0 1% 0;
    font-size: 13px;
}
.health_lineee {
    font-size: 15px;
    padding: 1% 20% 4% 0;
}
}







@media (min-width: 481px) and (max-width: 768px){
  .image_home {
    width: 337px;
    height: 288px;
}
.title_tag {
    padding: 8% 0px 2% 0;
    font-size: 16px;
}
.fsrt_line {
    background-image: url(../../assets/rs_1024x759-180108174835-1024.donald-trump.ct.010818.jpg);
    background-size: 100% 100%;
    height: 484px;
}
.full_widthhh {
    width: 100%;
    height: 131px;
}
.diloog_title {
    font-size: 14px;
    padding-bottom: 10%;
}
.sm_height{
  height: 145px;
}
.full_widthhh2 {
    width: 100%;
    height: 148px;
}
.sider_img {
    width: 100%;
    height: 232px;
    margin-top: 2%;
}
.siderr_title {
    font-size: 18px;
    padding: 0 18% 0 0;
}
.recente_img {
    
    width: 100%;
    height: 165px;
    padding: 0;
}
.pas_1{
  padding: 1%
}
}