<div class="col-lg-12 col-md-12 col-sm-12 padd_0">
	<div class="col-lg-12 col-md-12 col-sm-12 inner_home">
		<div class="col-lg-12 col-md-12 col-sm-12 padd_0">
			<div class="col-lg-6 col-md-6 col-sm-6 padd_0">
				<img src="../../assets/immmm.jpg" class="image_home">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 content_fff">
				<div class="col-lg-12 col-md-12 col-sm-12 pad__2">
					<div class="col-lg-12 col-md-12 col-sm-12 padd_0">
						<div class="col-lg-12 col-md-12 col-sm-12 font_title">
							<span class="title_bar">Science</span>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 title_dilog">Lin_Manuel Miranda says Donald Trump is spreading 'a virulent strain of a virus'</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 para_grap hidden-xs">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="col-lg-12 col-md-12 col-sm-12 padd_0">
							<img src="../../assets/person-donald-900x1080.jpg" class="person_imgg">
							<div class="person_name">
								<div class="col-lg-12 col-md-12 col-sm-12">Alex Parkinson</div>
								<div class="col-lg-12 col-md-12 col-sm-12">Posted 15 min ago</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 secnd_para">
			<div class="col-lg-4 col-md-4 col-sm-6 padd_0">
				<div class="col-lg-12 col-md-12 col-sm-12 padd_0">
					<img src="../../assets/aw1.jpg" class="business_img">
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 business_titlw">
					<span class="business_name">BUSINESS</span>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 business_dilog">Jenny Lawson Is Publishing a New Book and sort of a Coloring book </div>
				<div class="col-lg-12 col-md-12 col-sm-12 business_paraa">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</div>
				<div class="col-lg-12 col-md-12 col-sm-12 business_person_name">Jonathan Doe</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 padd-xs">
				<div class="col-lg-12 col-md-12 col-sm-12 padd-xs">
					<div class="col-lg-12 col-md-12 col-sm-12 pad_xs_4">
						<span class="trvl">TRAVEL</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 trvll_titlw">Airtel Offers 3GB Free Data a Month To customer Who Switch To Its 4G Service</div>
					<div class="col-lg-12 col-md-12 col-sm-12 trvl_name">Vex Parkinson</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 padd-xs">
					<div class="col-lg-12 col-md-12 col-sm-12 trvrl_padd pad_xs_4">
						<span class="trlv_health">HEALTH & FITNESS</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 trvll_titlw">Warning Letter for Ankleshwer Plant Sends Wockhardt Shares To Near 2.5-Year Low</div>
					<div class="col-lg-12 col-md-12 col-sm-12 trvl_name">Alice Doe</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 padd-xs">
					<div class="col-lg-12 col-md-12 col-sm-12 trvrl_padd pad_xs_4">
						<span class="trlv_science">SCIENCE</span>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 trvll_titlw">Sundar Pichai Lunches 'Digital Unlocked' Programme</div>
					<div class="col-lg-12 col-md-12 col-sm-12 trvl_name_last">Vex Doe</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 hidden-sm">
				<div class="col-lg-12 col-md-12 col-sm-12 publish hidden-xs">
					<div class="col-lg-12 col-md-12 col-sm-12 publish_title">Publish with Quintype</div>
					<div class="col-lg-12 col-md-12 col-sm-12 publish_sub">Mobile First,Social first,date first</div>
					<div class="col-lg-12 col-md-12 col-sm-12">
						<img class="publish_img" src="../../assets/BRO_ResponsiveDesign_Main2.png">
					</div>
					<a href="//www.quintype.com/" class="anchr">www.quintype.com</a>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 subscribe_box">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<img src="../../assets/images.png" class="sub_imgg">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 ttiel_sub">Subscribe to Newsletter</div>
					<input type="text" name="text" placeholder="Your email" class="col-lg-12 col-md-12 col-sm-12 mail_serch">
					<div class="pa_4 col-lg-12 col-md-12 col-sm-12 ">
						<button class="sub_buttn">Suscribe</button>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="box-container" fxLayout="column" >
		      

		      <div class="horizontal-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="stretch" fxFlex="auto">
		        

		        <div class="vertical-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="50%">
		          <!-- <div class="box-title">Birthday</div> -->

		          <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
		            <swiper *ngIf="type == 'component' && show" class="swiper-container" fxFlex="auto" [config]="config" [disabled]="disabled" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
		              <div *ngFor="let slide of slides" class="swiper-slide" style="width: 1000px;">
		                <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
		                  
		                  <img src="{{slide.image}}" class="sliderr_img">
		                  <div class="col-lg-12 col-md-12 col-sm-12 middle_section">
			                  	<div class="must_read">Must read</div>
			                  	<div class="must_send">Lin_Manuel Miranda says Donald Trump is spreading 'a virulent strain of a virus'</div>
			                  	<div>
			                  		<button class="readd_stry">Read</button>
			                  	</div>
			                  </div>
		                </div>
		              </div>
		            </swiper>

		            <div *ngIf="type == 'directive' && show" class="swiper-container" [disabled]="disabled" [swiper]="config" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
		              <div class="swiper-wrapper">
		                <div *ngFor="let slide of slides" class="swiper-slide" style="width: 1000px;">
		                  <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
		                    
		                    <img src="{{slide.image}}" class="sliderr_img">
		                    <div class="col-lg-12 col-md-12 col-sm-12 middle_section">
			                  	<div class="must_read">Must read</div>
			                  	<div class="must_send">Lin_Manuel Miranda says Donald Trump is spreading 'a virulent strain of a virus'</div>
			                  	<div>
			                  		<button class="readd_stry">Read</button>
			                  	</div>
			                  </div>
		                  </div>
		                </div>
		              </div>

		              <div class="swiper-scrollbar" [hidden]="config.scrollbar === false"></div>
		              <div class="swiper-pagination" [hidden]="config.pagination === false"></div>

		              <div class="swiper-button-prev" [hidden]="config.navigation === false"></div>
		              <div class="swiper-button-next" [hidden]="config.navigation === false"></div>
		            </div>
		          </div>
		        </div>
		        
		      </div>
		    </div>
		</div>
		<div>
			<div class="ploitics"><span class="plotics_border">Politics</span></div>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="col-lg-4 col-md-4 col-sm-6 fsrt_line">
					<div class="tag_line">Lin_Manuel Miranda says Donald Trump is spreading 'a virulent strain of a virus'</div>
					<div class="tag_send">Jonathan Doe</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 ploititv_xs">
					<div>
						<img class="middle_imgg" src="../../assets/32325291343_320137bd25_k-e1491845361668.jpg">
						<div class="tag_lineee">Jenny Lawson is publishing a new Book and its sort of a coloring  book</div>
						<div class="tagg_line">Jonathan Doe</div>
					</div>
					<div class="airtell">
						<div class="fn_size">Airtel Offers 3GB Free Data a Month To customer Who Switch 
						To Its 4G Service</div>
						<div class="fn_line">Alice Doe</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 padd-xs">
					<div class=" col-lg-12 col-md-12 col-sm-6 pad_77">
						<div class="title_tag">Airtel Offers 3GB Free Data a Month To customer Who Switch 
						To Its 4G Service</div>
						<div class="name_tag">Alice Doe</div>
					</div>
					<div class=" col-lg-12 col-md-12 col-sm-6 pad_77">
						<div class="title_tag">Warning Letter for Ankleshwer Plant Sends Wockhardt Shares To Near 2.5-Year Low</div>
						<div class="name_tag">Alice Doe</div>
					</div>
					<div class=" col-lg-12 col-md-12 col-sm-6 pad_77">
						<div class="title_tag">Sundar Pichai Lunches 'Digital Unlocked' Programme</div>
						<div class="name_tag">Alice Doe</div>
					</div>
					<div class=" col-lg-12 col-md-12 col-sm-6 pad_77">
						<div class="title_tag">Jenny Lawson Is Publishing a New Book and sort of a Coloring book</div>
						<div class="name_tag">Alice Doe</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="ploitics col-lg-12 col-sm-12 col-md-12"><span class="plotics_border">Food & Health</span></div>
			<div class="col-lg-12 col-sm-12 col-md-12 padd_0">
				<div class="col-lg-6 col-sm-6 col-md-6">
					<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 padd_2_3">
						<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 padd_0">
							<img class="full_widthhh" src="../../assets/main-qimg-c83dbd658e39bdb824bc720ea2cd54a2.png">
						</div>
						<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 outer_diloog">
							<div class="diloog_title">This is what 300 calories Look Like,Think Twice Before you eat!</div>
							<div class="dioolog_name">Jonthan Doe</div>
						</div>
					</div>
					<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 padd_2_3">
						<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 padd_0">
							<img class="full_widthhh sm_height" src="../../assets/aishwarya-caterers-aishwarya-foods-bommanahalli-bangalore-caterers-115kwci.jpg">
						</div>
						<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 outer_diloog">
							<div class="diloog_title">Airtel Offers 3GB Free Data a Month To customer Who Switch 
						To Its 4G Service</div>
						<div class="dioolog_name">Jonthan Doe</div>
						</div>
					</div>
					<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 padd_2_3">
						<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 padd_0">
							<img class="full_widthhh2" src="../../assets/e5225f64f0710bd7b23df0a3edd1c3a0_1513014313.jpg">
						</div>
						<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 outer_diloog">
							<div class="diloog_title">Warning Letter for Ankleshwer Plant Sends Wockhardt Shares To Near 2.5-Year Low</div>
						<div class="dioolog_name">Jonthan Doe</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6 col-md-6 food_subbb">
					<img class="sider_img" src="../../assets/magajis-sampangiramnagar-bangalore-home-delivery-restaurants-38yvsy7.jpeg">
					<div class="col-lg-12 col-sm-12 col-md-12 siderr_box">
						<div class="siderr_title">Jenny Lawson Is Publishing a New Book and sort of a Coloring book</div>
						<div class="siderr_para">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</div>
						<div class="name_siderr">Jonthan Doe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-12 col-lg-12 padd_0">
		<div class="col-sm-12 col-md-12 col-lg-12 inner_recent">
			<div class="col-sm-12 col-md-12 col-lg-12 recetn_heading"><span class="recent_barr">Recent Stories</span></div>
			<div class="col-sm-12 col-md-12 col-lg-12 pas_1">
				<div class="col-sm-12 col-xs-12 padd_0 receent_padd">
					<div class="col-sm-3 col-xs-5 padd-xs">
						<img class="recente_img" src="../../assets/images.jpg">
					</div>
					<div class="helth_fitness col-sm-9 col-xs-7">
						<div class="health_titlw"><span class="hjelath_bar">HEALTH &FITNESS</span></div>
						<div class="health_lineee">This week in Function: Jontham Lethem on the Poignace of Backgammon</div>
						<div class="health_nameeme">Alex Parkinson</div>
						<div class="health_nameeme">Posted 15 min ago</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-12 pas_1">
				<div class="col-sm-12 col-xs-12 padd_0 receent_padd">
					<div class="col-sm-3 col-xs-5 padd-xs">
						<img class="recente_img" src="../../assets/site_0190_0001-1200-630-20151105121324.jpg">
					</div>
					<div class="helth_fitness col-sm-9 col-xs-7">
						<div class="health_titlw"><span class="hjelath_bar">HEALTH &FITNESS</span></div>
						<div class="health_lineee">This week in Function: Jontham Lethem on the Poignace of Backgammon</div>
						<div class="health_nameeme">Alex Parkinson</div>
						<div class="health_nameeme">Posted 15 min ago</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-12 pas_1">
				<div class="col-sm-12 col-xs-12 padd_0 receent_padd">
					<div class="col-sm-3 col-xs-5 padd-xs">
						<img class="recente_img" src="../../assets/Route-66-631.jpg">
					</div>
					<div class="helth_fitness col-sm-9 col-xs-7">
						<div class="health_titlw"><span class="hjelath_bar">HEALTH &FITNESS</span></div>
						<div class="health_lineee">This week in Function: Jontham Lethem on the Poignace of Backgammon</div>
						<div class="health_nameeme">Alex Parkinson</div>
						<div class="health_nameeme">Posted 15 min ago</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 